<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ian.mapper.RoleMapper">

    <select id="selectUserRoleListByUserId" resultType="com.ian.pojo.entity.Role">
        select
            t1.*
        FROM
            role t1, user_role t2
        WHERE
            t2.role_id = t1.role_id
          and t2.user_id = #{userId}
          and t1.role_state = 1
    </select>

    <select id="selectRoleIdByRoleName" resultType="java.lang.Integer">
        select
            role_id
        from
            role
        where
            role_name = #{roleName}
    </select>
</mapper>