<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ian.mapper.RoleMapper">

    <select id="selectUserRoleListByUserId" resultType="com.ian.pojo.entity.Role">
        select
            t1.*
        FROM
            role t1, user_role t2
        WHERE
            t2.role_id = t1.role_id
          and t2.user_id = #{userId}
          and t1.role_state = 1
    </select>

    <select id="selectRoleIdByRoleName" resultType="java.lang.Integer">
        select
            role_id
        from
            role
        where
            role_name = #{roleName}
    </select>

    <select id="selectRoleAllAndCreateName" resultType="com.ian.pojo.entity.Role">
        select
            t1.*, t2.user_name as getCode
        from
            role t1
        left join
            user_info t2
        on
            t1.create_by = t2.user_id
        <where>
            <if test="roleCode != null and roleCode != ''">
                role_code like concat('%',#{roleCode},'%')
            </if>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%',#{roleName},'%')
            </if>
            <if test="roleState != null and roleState != ''">
                and role_state = #{roleState}
            </if>
        </where>

    </select>

    <insert id="insert">
        insert into
            role(role_name, role_desc, role_code, role_state, create_by, create_time, update_by, update_time)
        values
            (#{roleName},#{roleDesc},#{roleCode},#{roleState},#{createBy},#{createTime},#{updateBy},#{updateTime})
    </insert>

    <update id="updateRoleDesc">
        update
            role
        set
            role_desc = #{roleDesc},
            update_by = #{updateBy},
            update_time = #{updateTime}
        where
            role_id = #{roleId}
    </update>
</mapper>