<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ian.mapper.UserMapper">

    <select id="selectUserList" resultType="user">
      select
            t1.*, t2.user_code as getCode
      from
          user_info t1 , user_info t2
      <where>
        <if test="userCode != null">
          t1.user_code like concat('%',#{userCode},'%')
        </if>
        <if test="userType != null and userType != ''">
          and t1.user_type = #{userType}
        </if>
        <if test="userState != null and userState != ''">
          and t1.user_state = #{userState}
        </if>
        and t1.is_delete = 0
        and t1.create_by = t2.user_id
      </where>
    </select>

    <insert id="insert" parameterType="user">
        insert into
            user_info(user_code, user_name, user_pwd, user_type, user_state, is_delete,
                      create_by, create_time, update_by, update_time)
        values
            (#{userCode},#{userName},#{userPwd},#{userType},#{userState},
             #{isDelete},#{createBy},#{createTime},#{updateBy},#{updateTime})
    </insert>

    <update id="updateStateByUserId" parameterType="user">
        update
            user_info
        <set>
            user_state = #{userState},
            update_by = #{updateBy},
            update_time = #{updateTime}
        </set>
        <where>
            user_id = #{userId}
        </where>

    </update>

    <update id="deleteUserByUserId" parameterType="User">
        update
            user_info
        set
            is_delete = #{isDelete},
            update_by = #{updateBy},
            update_time = #{updateTime}
        where
            user_id = #{userId}
    </update>

</mapper>